* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
  background-color: #0099FF;
  font-family: 'Bebas Neue', cursive;
  

}

body.dark {
  background-color: #292C35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(23px);
}


.fa-smile-beam {
  color: #f1c40f;
}

.fa-flushed {
  color: blue;
}


.label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  position: relative;

  background-color: #111;
  transform: scale(1.3);


}

.ball {
  position: absolute;
  background-color: #33FFBD;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  transition: transform 0.2s linear;


}

